

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  font-weight: 200;
}

/* Search bar styles */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-btn {
  padding: 20px;
  border-radius: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.497);
}

input {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.497);
  border-radius: 50px;
  color: #fff;
  width: 300px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 3vh;
  text-align: center;
  justify-content: space-between;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  input {
    width: 90%;
  }
}

/* City stats styles */
.City {
  padding: 40px;
  flex-direction: column;
  border-radius: 13px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.497);
}

.City h1,
.City img {
  align-items: center;
}

.City h3,
.City .description {
  flex: 1;
}

.other-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.stat {
  padding: 40px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.497);
  flex: 1;
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
}

/* Media query for smaller screens for city-stats */
@media screen and (max-width: 768px) {
  .city-stats {
    width: 90%;
    margin-left: 0;
  }
}

/* 3 Hour Interval styles */
.daily-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.497);
  width: 600px;
  border-radius: 13px;
  justify-content: center;
  margin-left: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.title {
  font-weight: bold;
  margin-bottom: 3px;
  text-align: left;
}

.summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.summary {
  text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .daily-summary {
    width: 90%;
    margin-left: 0;
  }

  .title {
    text-align: center;
  }

  .summary-container {
    flex-direction: column;
    align-items: center;
  }
}
